**/*.o
**/*.d
chall-temp
*.sh
*.zip
**/*.tar.gz
**/*.tgz
pwn-black-hole
pwn-relentless
seccomp-rules.json
**/.gdb_history
**/__pycache__
**/*.i64
**/*.idb
pwn-todo
crypto-zkp
misc-radio
pwn-babyjheap
pwn-bof
pwn-theartof
rev-ccdump
rev-runme-flag
